# Prevents copying junk into Docker image. 
# We may be sending almost 100MB of garbage every time — slowing down CI and local builds.
# Without .dockerignore, the Docker image gets heavier.
# Docker will look for everything everything in the current folder — called the build context — and send it into the image-building process. 
# Hence secrets and the build process gets slower. 
# .dockerignore keeps the Docker image small and protects against leaking secrets — especially important when pushing to a shared registry.

__pycache__/
*.pyc
*.pyo
*.pyd
.env
*.log
.git
.vscode/
.DS_Store
tests/ 


